node_modules/
node_modules
*.log
.env
session/
.DS_Store
.eslintrc.json
package-lock.json
.env.production
.idea
yarn.lock
config/config.json
assets/img/
public
private/upload
uploads
uploads_cms
uploads_confirm
temp
email_htmls
database/config/config.json
*.csv
mapping.js
database/config
logs/