<!DOCTYPE html>
<html>
  <head>
    <title>Bisa Ekspor</title>
    <link rel="stylesheet" href="/assets/cssTempletePayment" />
  </head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <body class="container">
    <img src="/assets/icon-invoice-onprocess" />
    <div class="title" style="color: rgb(168, 168, 1)">
      Pembayaran Belum Selesai
    </div>
    <div class="text">Silahkan Selesaikan Pembayaran Anda</div>
    <div type="button" class="button" onclick="window.close();">
      <a class="text-button"> Tutup Pembayaran</a>
    </div>
  </body>
</html>