<!DOCTYPE html>
<html>
  <head>
    <title>Bisa Ekspor</title>
    <link rel="stylesheet" href="/assets/cssTempletePayment" />
  </head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <body class="container">
    <img src="/assets/icon-invoice-success" />
    <div class="title" style="color: #27aae1">Pembayaran Sukses</div>
    <div class="text">Terima kasih!</div>
    <div class="text">
      Menu Materi, Forum & Konsultasi sudah dapat diakses, semoga bermanfaat!
    </div>

    <div type="button" class="button" onclick="window.close();">
      <a class="text-button"> Tutup Pembayaran</a>
    </div>
  </body>
</html>
